.userManage .el-input--suffix .el-input__inner {
  padding-right: 16px;
}
.userManage .el-form-item__label{
  width: 80px !important;
}
.userManage .el-dialog {
  width: 30%;
}
.userManage .el-input--mini .el-input__inner {
  width: 190px;
}
.userManage .el-input--prefix .el-input__inner {
  padding-left: 16px;
}
.userManage .el-form--inline{
  width: 625px;
  float: left;
}
.userManage .el-transfer-panel{
  width: 143px !important;
}
.userManage .transfer_box .el-button--primary.is-disabled,.transfer_box .el-button--primary.is-disabled:active,.transfer_box .el-button--primary.is-disabled:focus,.transfer_box .el-button--primary.is-disabled:hover{
  width:35px;
  height: 35px;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  border-color: #449892;
  border-radius: 50%;
  color:#449892;
}
.userManage .el-icon-arrow-right{
  display: block !important;
}
.userManage .el-checkbox__input.is-checked+.el-checkbox__label{
  color: #449892;
}
.userManage .el-checkbox__label:hover{
  color: #449892;
}
.userManage .transfer_box .el-button--primary{
width:35px;
  height: 35px;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  border:1px solid #449892;
  border-radius: 50%;
  color:#449892;
}
.userManage .el-form-item__content{
  width: calc(100% - 80px);
}
.userManage .el-transfer-panel__header .el-checkbox__input{
  display: none;
}
.userManage .el-transfer-panel__header .el-checkbox__label{
  margin-left: -10px;
}